.search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    padding: 0rem 1rem;
    width: 25%;
    border-radius: 0.5rem;
    color: var(--grey);
    border: 1px solid var(--grey);
}

.search_bar>input {
    width: 100%;
    background-color: var(--black);
    color: var(--grey);
    font-size: 1rem;
    border: none;
    font-family: "Inter";
}

.search_bar>input:focus {
    outline: none;
}

@media only screen and (max-width: 650px) {
    .search_bar {
        padding: 0rem 0.5rem;
        width: 35%;
    }

    .search_bar>input {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 500px) {
    .search_bar {
        padding: 0rem 0.2rem;
    }

    .search_bar>input {
        font-size: 0.7rem;
    }
}