.dashboard_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    margin: 2rem;
    color: var(--grey);
    text-align: center;
    font-size: 2rem;
}

.btn_div {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    justify-content: flex-start;
    align-self: flex-start;
    width: 100%;
    box-sizing: border-box;
}

.sync {
    padding: 0.5rem 1rem;
    border: 1px solid var(--grey);
    border-radius: 2rem;
    background-color: var(--grey);
    color: var(--black);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: fit-content;
    align-self: center;
    position: absolute;
    right: 10px;
    transition: all 0.3s;
}

.sync:hover {
    background-color: var(--black);
    color: var(--grey);
}

@media only screen and (max-width: 650px) {
    .sync {
        padding: 0.3rem 0.5rem;
        font-size: 0.8rem;
        right: 10px;
    }
}

@media only screen and (max-width: 500px) {
    .heading {
        font-size: 1.5rem;
    }

    .btn_div {
        gap: 0.5rem;
        padding-left: 0px;
    }

    .sync {
        padding: 0.3rem;
        font-size: 0.7rem;
        right: 5px;
    }
}